.footer {
	background-image: url("../../public/images/bg/footWave.svg");
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
